{% load static %}
<footer class="py-5 bg-white">
    <div class="container"><p class="m-0 text-center text-dark">Copyright &copy; Grupo 16</p></div>

    <div class="div-center">
        <a href="https://www.facebook.com/" target="_blank" >
        <img src="static/assets/img/facebb.png" alt=""class="footer-img">
        </a> 
        <a href="https://twitter.com/?lang=es" target="_blank" >
        <img src="static/assets/img/twitter.png" alt="" class="footer-img">
        </a>
        <a href="https://mail.google.com/" target="_blank" >
        <img src="static/assets/img/gmail2.png" alt=""class="footer-img">
        </a>
    </div>
</footer>
