{% load static %}
<head>
  
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="static/assets/Logo.png" />
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
</head>
<footer class="py-5 color footer">
  <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; 2022</p></div>
  <li class="nav-item">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Creado por</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="https://www.linkedin.com/in/fernando-rojas-konrath-974139222/">Fernando R.K</a></li>
      <li><a class="dropdown-item" href="https://www.linkedin.com/in/hector-dimas-ayala-8790291a8/">Hector Dimas A.</a></li>
      <li><a class="dropdown-item" href="#scrollspyHeading5">Alfredo Rojas</a></li>
      <li><a class="dropdown-item" href="#scrollspyHeading5">Carlos Alcaraz</a></li>
    </ul>
  </li>
  <div class="col-lg-3 col-md-12 footer-contact text-center text-white">
    <h4>Contactanos</h4>
    <p>
      <strong>Teléfono:</strong> 3624-002764<br>
      <strong>Email:</strong> fundacion.ala.chaco@gmail.com<br>
    </p>

  </div>
</footer>
