{% load static %}
<footer class="py-5 bg-white">
    <div class="container"><p class="m-0 text-center text-dark">Copyright &copy; Grupo 16</p></div>

    <div class="div-center">
        <a href="https://www.facebook.com/profile.php?id=100088432221512" target="_blank" >
        <img src="static/assets/img/facebb.png" alt=""class="footer-img">
        </a> 
        <a href="https://mail.google.com/" target="_blank" class="" >
        <img src="static/assets/img/gmail2.png" alt=""class="footer-img">
        </a>
        <a href="https://www.instagram.com/fundacion.ala/" target="_blank" class="" >
        <img src="static/assets/img/instagram.png" alt=""class="footer-img">
        </a>
    </div>
</footer>
